# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/T4Practice/T4Practice/bin
/T4Practice/T4Practice/bin
/T4Practice/packages
/T4Practice/T4Practice/obj

T4Practice/.vs/config/applicationhost.config
/T4Practice/.vs
/T4Practice/T4PracticeConsole/bin
/T4Practice/T4PracticeConsole/obj